@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #ffffff;
  --netflix-red: #e50914;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-netflix-red: var(--netflix-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
